/* Varibles */
:root {
    --x1symht:rgba(0,0,0,1);
    --l1fpjr:rgba(18,19,18,1);
    --licorice:rgba(19,19,19,1);
    --gondola:rgba(38,24,16,0.2);
    --x2xxaej:rgba(45,45,45,1);
    --mountain-mist-2:rgba(147,153,156,1);
    --mountain-mist:rgba(150,150,150,1);
    --heather:rgba(181,198,209,1);
    --iron:rgba(215,215,215,1);
    --alabaster:rgba(249,252,252,1);
    --alabaster-2:rgba(251,251,251,1);
    --coconut:rgba(254,255,254,1);
    --v2ioiv:rgba(255,204,0,1);
    --supernova:rgba(255,206,0,1);
    --cnn1f1:rgba(255,255,255,1);

    --font-size-s:25px;
    --font-size-n:26px;
    --font-size-l:32px;
    --font-size-s2:21.7px;
    --font-size-xs2:20px;
    --font-size-xxs2:19.5px;
    --font-size-xxxs2:18px;
    --font-size-xxxxs2:16px;

    --font-family-aileron-bold:"Aileron-Bold";
    --font-family-aileron-light:"Aileron-Light";
    --font-family-aileron-regular:"Aileron-Regular";
    --font-family-dosis:"Dosis";
    --font-family-pt_serif:"PT Serif";
}

/* Classes */
.aileron-regular-normal-alabaster-24px {
    color: var(--alabaster);
    font-family: var(--font-family-aileron-regular);
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.ptserif-bold-white-42px {
    color: var(--cnn1f1);
    font-family: var(--font-family-pt_serif);
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
}

.aileron-regular-normal-heather-24px {
    color: var(--heather);
    font-family: var(--font-family-aileron-regular);
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.dosis-normal-licorice-21px {
    color: var(--licorice);
    font-family: var(--font-family-dosis);
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
}

.dosis-normal-supernova-9-5px-2 {
    color: var(--v2ioiv);
    font-family: var(--font-family-dosis);
    font-size: 9.5px;
    font-weight: 400;
    font-style: normal;
}

.dosis-normal-coconut-19-5px {
    color: var(--coconut);
    font-family: var(--font-family-dosis);
    font-size: 9.5px;
    font-weight: 400;
    font-style: normal;
}

.dosis-normal-licorice-28px {
    color: var(--l1fpjr);
    font-family: var(--font-family-dosis);
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
}

.ptserif-bold-coconut-19-5px {
    color: var(--coconut);
    font-family: var(--font-family-pt_serif);
    font-size: var(--font-size-xxs2);
    font-weight: 700;
    font-style: normal;
}

.border-1px-supernova {
    border-width: 1px;
    border-style: solid;
    border-color: var(--supernova);
}

.aileron-light-white-25px {
    color: var(--cnn1f1);
    font-family: var(--font-family-aileron-light);
    font-size: var(--font-size-s);
    font-weight: 300;
    font-style: normal;
}

.border-0-5px-supernova {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--supernova);
}

.dosis-normal-coconut-13-5px {
    color: var(--coconut);
    font-family: var(--font-family-dosis);
    font-size: 13.5px;
    font-weight: 400;
    font-style: normal;
}

.ptserif-bold-coconut-36px {
    color: var(--coconut);
    font-family: var(--font-family-pt_serif);
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
}

.dosis-normal-white-16px {
    color: var(--cnn1f1);
    font-family: var(--font-family-dosis);
    font-size: var(--font-size-xxxxs2);
    font-weight: 400;
    font-style: normal;
}

.border-0-8px-supernova {
    border-width: 0.8px;
    border-style: solid;
    border-color: var(--supernova);
}

.dosis-normal-white-20px {
    color: var(--cnn1f1);
    font-family: var(--font-family-dosis);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    font-style: normal;
}

.dosis-normal-supernova-13-5px-2 {
    color: var(--v2ioiv);
    font-family: var(--font-family-dosis);
    font-size: 13.5px;
    font-weight: 400;
    font-style: normal;
}

.card-body {
    font-family: var(--font-family-dosis);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.ptserif-bold-white-26px {
    color: var(--cnn1f1);
    font-family: var(--font-family-pt_serif);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.aileron-regular-normal-white-24px {
    color: var(--cnn1f1);
    font-family: var(--font-family-aileron-regular);
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}