/* Typography */
h1 {
    font-size: 48px;
    color: #2e7ad3;
}

h2 {
    font-size: 32px;
    color: #104c90;
}

a {
    color: #ff8000;
}

p {
    font-size: 16px;
}

/* Box model */
h1 {
    margin-top: 45px;
    text-align: center;
}

.para-1 {
    margin-top: 25px;
}

.para-2 {
    margin-top: 9px;
}

/* container width */
.container {
    width: 500px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 25px;
}

.container h2 {
    margin: 0;
    margin-bottom: 25px;
}